[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoMiRe"]
	path = CoMiRe
	url = https://github.com/cran/CoMiRe
[submodule "rmp"]
	path = rmp
	url = https://github.com/cran/rmp
